{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<div class="header">
    <h1>Welcome to Cicero</h1>
</div>
<div class="container">

        Introducing Cicero, your new travel companion!<br>
        Cicero is here to share its extensive knowledge and enhance your upcoming vacations.<br>
        <br>
        Have you ever booked a trip to a fantastic destination, explored the popular spots, only to realize you missed out on some local gems?<br>
        With Cicero by your side, you'll save time researching and make the most of every trip.<br>
        Plan your next adventure with Cicero today!<br>
        <br>

        {% if current_user.is_authenticated %}
            <form action="/generate" method="GET">
                <br><button class="btn btn-primary" type="redirect">Generate a new travel plan</button>
            </form>
        {% else %}
            To start planning, simply use the buttons below for registration or login.<br><br>
            <form action="/login" method="GET" style="display:inline-block;margin-right:10px;">
                <button class="btn btn-primary" type="redirect">Login</button>
            </form>
            <form action="/register" method="GET" style="display:inline-block">
                <button class="btn btn-primary" type="redirect">Register</button>
            </form>
        {% endif %}
</div>

{% endblock %}