{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            <a href="/password_reset" style="font-size: small;">Forgot your password?</a>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <div>
        <br>
        -- or --
        <br><br>
        <form action="/glogin" method="post">
            <button class="btn btn-primary" type="submit">Login with Google</button>
        </form>
    </div>
{% endblock %}
