{% extends "layout.html" %}

{% block title %}
    Password reset callback
{% endblock %}

{% block main %}
    <form action="/password_reset_callback" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <div style="font-size: smaller; font-weight: lighter; font-style: italic;">
            Passwords must be a minimum of 10 characters in length<br>
            and must contain at least one number, one symbol,<br>
            one lowercase letter, and one uppercase letter.<br><br>
        </div>
        <button class="btn btn-primary" type="submit">Reset password</button>
    </form>
{% endblock %}
