{% extends "layout.html" %}

{% block custom_head %}
    <link rel="canonical" href="https://cicerotravel.com/privacy">
{% endblock %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block main %}

<div class="header">
    <h1>Privacy Policy</h1>
</div>

<div class="container">
    <p>Welcome to Cicero. ("we," "our," "us," or "Cicero"). We are committed to protecting your privacy and personal information. <br>
        This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you use our services.</p>   
    <div class="section">
        <h3>Information We Collect</h3>
        <p>We may collect personal information, including but not limited to your name, email address, and travel preferences when you register and use our services. We also automatically collect certain information about your device and usage of our website, such as your IP address and browser type.</p>
    </div>
    <div class="section">
        <h3>How We Use Your Information</h3>
        <p>We use the information we collect to provide and improve our services, personalize your experience, and communicate with you. We may also use your information to send you updates, promotions, and important notices.
            Some of your inputs, such as travel plans and preferences, may be used as input for AI models to generate personalized advice. This data is used solely for the purpose of providing the requested service and is not shared with third parties for unrelated purposes.</p>    
    </div>
    <div class="section">
        <h3>Sharing Your Information</h3>
        <p>We do not sell, trade, or rent your personal information to third parties. However, we may share your data with trusted service providers who assist us in operating our website and delivering our services.</p>
    </div>
    <div class="section">
        <h3>Security</h3>
        <p>We take data security seriously and employ reasonable measures to protect your information. However, please be aware that no method of data transmission over the internet is entirely secure.</p>
    </div>
    <div class="section">
        <h3>Your Choices</h3>
        <p>You have the right to access, update, or delete your personal information. You can also opt out of receiving promotional communications from us. Please contact us to exercise these rights.</p>
    </div>    
    <div class="section">
        <h3>Changes to This Privacy Policy</h3>
        <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the updated policy on our website. Please review this policy periodically for updates.</p>
    </div>      
    <div class="section">
        <h3>Contact Us</h3>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:connect@riccardosclod.com">connect@riccardosclod.com</a>.</p>
    </div>  
</div>

{% endblock %}