{% extends "layout.html" %}

{% block title %}
    Terms and Conditions
{% endblock %}

{% block main %}

<div class="header">
    <h1>Terms and Conditions</h1>
</div>

<div class="container">
    <p>Welcome to Cicero. ("we," "our," "us," or "Cicero"). By using our services, you agree to these Terms and Conditions. Please read them carefully.</p>
    <div class="section">
        <h3>Use of Our Services</h3>
        <p>You must be at least 18 years old to use our services. You agree to use our services for lawful purposes and in compliance with these terms. You are responsible for any content you submit and your use of our website.</p>
        </div>
    <div class="section">
        <h3>Intellectual Property</h3>
        <p>All content on our website, including text, graphics, logos, and images, is our intellectual property and protected by copyright laws. You may not use our content without our permission.</p>
        </div>
    <div class="section">
        <h3>Disclaimer</h3>
        <p>Our services are provided "as is" and without warranties of any kind. We do not guarantee the accuracy, completeness, or availability of the information on our website. You use our services at your own risk.</p>
        </div>
    <div class="section">
        <h3>Limitation of Liability</h3>
        <p>We are not liable for any direct, indirect, incidental, special, or consequential damages arising from your use of our services or any errors or omissions on our website.</p>
    </div>
    <div class="section">
        <h3>Termination</h3>
        <p>We reserve the right to terminate or suspend your access to our services at any time for any reason, including a breach of these Terms and Conditions.</p>
    </div>    
    <div class="section">
        <h3>Changes to These Terms</h3>
        <p>We may update these Terms and Conditions from time to time. We will notify you of any changes by posting the updated terms on our website. Your continued use of our services after changes are made constitutes acceptance of the updated terms.</p>
    </div>      
    <div class="section">
        <h3>Contact Us</h3>
        <p>If you have any questions or concerns about our Terms and Conditions, please contact us at <a href="mailto:connect@riccardosclod.com">connect@riccardosclod.com</a>.</p>
    </div>
</div>

{% endblock %}